
<form [formGroup]="patientForm" (ngSubmit)="onSubmit()" class="container-fluid m-0 h-100 w-100">

    <div class="row">
        <div class="col">
            <label for="name">Nome</label>
            <input name="name" type="text" formControlName="name" placeholder="Nome" />
        </div>

        <div class="col">
            <label for="phone">Telefone</label>
            <input name="phone" type="number" formControlName="phone" placeholder="Telefone" />
        </div>
        
    </div>

    <div formGroupName="address" class="row">
        <div class="col">
            <label for="postalCode">CEP</label>
            <input name="postalCode" type="number" formControlName="postalCode" placeholder="CEP" />
            
            <label for="country">País</label>
            <input name="country" type="text" formControlName="country" placeholder="País" />
        </div>

        <div class="col">
            <label for="state">Estado</label>
            <input name="state" type="text" formControlName="state" placeholder="Estado" />
    
            <label for="city">Cidade</label>
            <input name="city" type="text" formControlName="city" placeholder="Cidade" />
        </div>

        <div class="row">
            <div class="col">
                <label for="street">Rua</label>
                <input name="street" type="text" formControlName="street" placeholder="Rua" />
            </div>
        </div>

    </div>

    <button *ngIf="!this.data.id" type="submit">Adicionar paciente</button>
    <button *ngIf="!!this.data.id" type="submit">Editar paciente</button>
</form>